conda install pytorch==1.9.0 torchvision==0.10.0 torchaudio==0.9.0 cudatoolkit=10.2 -c pytorch
conda install -c conda-forge librosa
pip install yaml
pip install setuptools==59.5.0
conda install -c conda-forge tensorboard
conda install -c conda-forge tqdm
